body {

  margin: 0;
  padding: 0;
  text-align: center;
  justify-items: center;
  height: 100vh;
  background-color: #000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

h1 {
  color: #fff;
}

nav {
  height: 64px;
  margin: 0 20px 0 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: PolySans,
    "Open Sans";
  font-feature-settings: normal;
  font-kerning: auto;
  font-optical-sizing: auto;
  font-size: 28.8px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variation-settings: normal;
  font-weight: 700;
  line-height: 43.2px;
  color: #fff;
}

.connect-btn {
  background-color: rgb(255, 101, 0) !important;
  color: #fff !important;
  font-size: 14px;
  padding: 8px 15px 10px 15px;
  width: 100px;
  margin-top: 16px;
  height: 38px;
  font-weight: 700;
  border-radius: 12px;
}


.swap-container {
  position: absolute;
  text-align: left;
  top: 50%;
  left: 50%;
  transform: translate(-130%, -50%);
  height: fit-content;
  width: 500px;
  border-radius: 10px;
  border: 1px solid rgb(45, 46, 50);
  box-shadow: rgba(255, 101, 0, 0.3) 0px 4px 150px 0px;

}

.inener-container {
  padding: 0 20px 20px 20px;
}

.input-div {
  position: relative;
  height: 67.5px;
  background-color: rgb(19, 20, 22);
  border: 0;
  color: #fff;
  font-family: PolySans, "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-size-adjust: 100%;
  text-align: left;
}

.input {
  color: #fff;
  background-color: rgb(19, 20, 22);
  height: 67.5px;
  border: 0;
  padding: 15px 0 8px 12px;
  outline: none;
  box-shadow: none;
  font-size: 24px;

  /* padding: 25px 0 8px 12px; */
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 20px;
}

.input:focus {
  background-color: rgb(19, 20, 22);
  color: #fff;
  outline: none;
  box-shadow: none;
}

.input:active {
  outline: none;
  box-shadow: none;
}

.swap-btn {
  background-color: rgb(255, 101, 0);
  color: #fff;
  font-size: 16px;
  width: 100%;
  margin-top: 16px;
  height: 68px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
}

.btn:hover {
  background-color: rgb(202, 81, 0);
  color: #fff;

}

.select {
  position: absolute;
  right: 12px;
  top: 15px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  border-radius: 10px;
  font-weight: 700;
  width: 80px;
  height: 35px;
  text-align: center;
  align-items: center;

}

.select:hover {
  cursor: pointer;
}

.select-text {
  position: absolute;
  padding-top: 6px;
  align-self: center;
  right: 24px;
}


.transactions-container {
  position: absolute;
  text-align: left;
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(20%, -50%);
  height: 400px;
  width: 550px;
  border-radius: 20px;
  border: 1px solid rgb(45, 46, 50);
  box-shadow: rgba(255, 101, 0, 0.3) 0px 4px 150px 0px;
  overflow-y: auto;
}

.tx {
  display: block;
  background-color: #222;
  height: 140px;
  border-radius: 10px;
  margin-top: 20px;
  margin-block-end: 0 !important;
  padding: 0 15px 0 15px;
  color: rgb(255, 101, 0);
  outline: none;
  box-shadow: none;
  font-size: 22px;
}

/* WebKit tabanlı tarayıcılarda scrollbar stillendirmesi */
.transactions-container::-webkit-scrollbar {
  width: 4px;
  /* Scrollbar genişliği */
}

.transactions-container::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Scrollbar renk */
  border-radius: 4px;
  /* Scrollbar thumb kenar yuvarlanması */
}

.transactions-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
  /* Scrollbar thumb üzerine gelindiğindeki renk */
}

.address {
  color: #fff;
  padding-top: 20px;
}